# 1: Basic Input Formatting

## 1. Accept a userâ€™s full name and print it in title case.
* Input: 'john doe'
* Expected output: 'John Doe'

In [ ]:
fullname = input(print("Enter your name:"))
print(fullname.title())

## 2. Read a user's date of birth in dd-mm-yyyy format and extract the year.
* Input: '14-07-1996'
* Output: 'Year of birth: 1996'

In [4]:
dob = input(print("Enter Date of Birth (dd-mm-yyyy): "))
day, month, year = dob.split('-')
print(f"Year of birth: {year}")

Enter Date of Birth (dd-mm-yyyy):
Year of birth: 2004

## 3. Accept three space-separated integers and print their sum.
* Input: '10 20 30'
* Output: 'Sum = 60'

In [13]:
a, b, c = map(int, input("Enter three numbers: ").split())
print(f"Sum = {a+b+c}")

Sum = 39
12

## 4. Read a string and print its length, right-aligned to 10 spaces.
* Input: 'hello'
* Output: '     Length: 5'

In [18]:
s = input("Enter a string: ")
print(f"{'Length:' :>10} {len(s)}")

   Length: 1

# Output Formatting Use Cases

## 5. Format a float to 2 decimal places when displaying price.
* Input: 4.5678
* Output: 'Price: $4.57'

In [21]:
price = float(input("Enter price: "))
print(f"Price: ${price:.2f}")

Price: $12.21

## 6. Create a formatted table for 3 products with price.
#### Input: 
-  'Apple 2.5'
-   'Milk 1.3'
-   'Bread 1.8'
- Output: A neatly aligned price list.

In [ ]:
print(f"{'Product':<10} {'Price':>6}")
for _ in range(1):
    name, price = input("Enter product and price: ").split()
    print(f"{name:<10} ${float(price):>5.2f}")

## 7. Pad an invoice number to 8 digits with leading zeroes.
* Input: 347
* Output: 'Invoice ID: 00000347'

In [58]:
invoice = input("Enter invoice number: ")
print(f"Invoice ID: {int(invoice):08d}")

Invoice ID: 00000099

## 8. Format percentages with alignment in a report.
#### Input: 
*   'Math 89.567'
*   'Physics 78.6'
* Output:
``` 
Math      89.57%
Physics   78.60%
```

In [28]:
for _ in range(2):
    subject, score = input("Enter subject and percentage: ").split()
    print(f"{subject:<10} {float(score):>6.2f}%")

Math        90.90%
Kiswahili   99.99%

## Complex Structured Input/Output

### 9. Read a comma-separated list of key=value pairs and convert to a dictionary.
- Input: 'name=John,age=30,city=Nairobi'
- Output: {'name': 'John', 'age': '30', 'city': 'Nairobi'}

In [37]:
pairs = input("Enter key=value pairs: ").split(',')
result = {k: v for k, v in (pair.split('=') for pair in pairs)}
print(result)

{'name': 'john', ' age': '30'}

### 10. Print currency values in tabular format with comma as thousand separator.
Input:
-   'Salary 10500'
-   'Bonus 2500'

Output:
-   Salary   10,500.00
-   Bonus     2,500.00

In [47]:
for _ in range(2):
    label, amount = input("Enter label and amount: ").split()
    print(f"{label:<10} {float(amount):>10,.2f}")

salary      10,000.00
bonus        2,500.00

### 11. 11. Parse structured log line and extract components.
Input: '[2025-07-24 14:33] ERROR: Disk full'

Output:
-   Timestamp: 2025-07-24 14:33
-   Level: ERROR
-   Message: Disk full

In [48]:
log = input("Enter log: ")
timestamp = log[1:17]
level = log.split('] ')[1].split(':')[0]
message = log.split(': ', 1)[1]
print(f"Timestamp: {timestamp}")
print(f"Level: {level}")
print(f"Message: {message}")
# Input: '[2025-07-24 14:33] ERROR: Disk full'

Timestamp: [2025-07-24 14:3
Level: ERROR
Message: Disk full'

### 12. Align a report of student marks with both name and grade columns aligned.
Input:
-  'Alice 85.2'
-   'Bob 90.67'

Output:
-   Name      | Grade
-   --------- | ------
-   Alice     |  85.20
-   Bob       |  90.67

In [51]:
print(f"{'Name':<10} | {'Grade':>6}")
print(f"{'-'*10} | {'-'*6}")
for _ in range(2):
    name, grade = input("Enter name and grade: ").split()
    print(f"{name:<10} | {float(grade):>6.2f}")

Name       |  Grade
---------- | ------
Alice      |  85.20
Bob        |  90.67

### 13. Budget Tracker Summary
Goal: Write a program that:

Accepts 5 expense entries in the form: "category amount", e.g., "rent 25000"

Stores them in a dictionary.

Prints a summary with right-aligned amounts, formatted with commas and two decimal places.

Finally, prints total expense.

In [53]:
expenses = {}
for _ in range(5):
    category, amount = input("Enter category and amount: ").split()
    expenses[category] = float(amount)

print(f"{'Category':<13} {'Amount':>10}")
print("-" * 25)
for cat, amt in expenses.items():
    print(f"{cat:<13} {amt:>10,.2f}")
print("-" * 25)
print(f"{'TOTAL':<13} {sum(expenses.values()):>10,.2f}")

Category          Amount
-------------------------
rent           10,000.00
groceries      10,000.00
utilities       3,100.00
transport       5,000.00
entertainment   1,000.00
-------------------------
TOTAL          29,100.00

### 14. Dynamic Table Generator for Inventory Reports
Problem:
Youâ€™re writing an inventory tool that outputs items in a human-readable table. Each row should align the item name (left), quantity (center), and price (right) in columns with fixed widths.

Input:

```python
items = [
    {"name": "SSD 1TB", "quantity": 4, "price": 74.99},
    {"name": "USB Cable", "quantity": 11, "price": 2.50},
    {"name": "Gaming Chair", "quantity": 1, "price": 149.99}
]
```

Output:

```pgsql
Item Name       | Quantity |   Price
--------------- | -------- | --------
SSD 1TB         |    4     |   $74.99
USB Cable       |   11     |   $2.50
Gaming Chair    |    1     |  $149.99
```
Requirements:

Use f-strings with alignment specifiers.

Columns: item name (15 chars, left-aligned), quantity (10 chars, centered), price (10 chars, right-aligned with $ and 2 decimals).

In [61]:
items = [
    {"name": "SSD 1TB", "quantity": 4, "price": 74.99},
    {"name": "USB Cable", "quantity": 11, "price": 2.50},
    {"name": "Gaming Chair", "quantity": 1, "price": 149.99}
]


print(f"{'Item Name':<15} | {'Quantity':^10} | {'Price':>10}")
print(f"{'-'*15} | {'-'*10} | {'-'*10}")

for item in items:
    name  = item['name']
    qty = item['quantity']
    price = item['price']
    print(f"{name:<15} | {qty:>10} | ${price:>9.2f}")

Item Name       |  Quantity  |      Price
--------------- | ---------- | ----------
SSD 1TB         |          4 | $    74.99
USB Cable       |         11 | $     2.50
Gaming Chair    |          1 | $   149.99

### 15. Format CSV Export String with Type-Sensitive Formatting
Problem:
Youâ€™re exporting user data to a CSV file. Format each line as a comma-separated string, making sure:

Strings are surrounded by quotes.

Integers are printed as-is.

Floats are formatted to 2 decimal places.

Booleans are printed in lowercase.

```python
user_data = [
    {"name": "Alice", "age": 30, "balance": 2020.5, "active": True},
    {"name": "Bob", "age": 25, "balance": 100.01, "active": False},
]
Output:

```
"Alice",30,2020.50,true

"Bob",25,100.01,false
```

In [62]:
user_data = [
    {"name": "Alice", "age": 30, "balance": 2020.5, "active": True},
    {"name": "Bob", "age": 25, "balance": 100.01, "active": False},
]

for user in user_data:
    line = f'"{user["name"]}",{user["age"]},{user["balance"]:.2f},{str(user["active"]).lower()}'
    print(line)

"Alice",30,2020.50,true
"Bob",25,100.01,false

### 16. Batch Email Generator with Templated Formatting
Context:
Youâ€™re creating an automated email summary generator for users. The function should:

Accept a list of user dictionaries with name, email, and account_balance.

Use a function to format the output as an email line:

```php-template
To: <email> | Hello <name>, your balance is $<amount>
Format all monetary amounts to exactly 2 decimals.
```
Input:

```python
users = [
    {"name": "Amina", "email": "amina@example.com", "account_balance": 120.5},
    {"name": "Jacob", "email": "jacob@example.com", "account_balance": 4.77}
]
```

Expected Output:

```markdown
To: amina@example.com | Hello Amina, your balance is $120.50
To: jacob@example.com | Hello Jacob, your balance is $4.77
```

Your Task:
Implement a function generate_emails(users: list) that prints the expected output using correct formatting and best practices.

In [63]:
def generate_emails(users):
    for user in users:
        print(f"To: {user['email']} | Hello {user['name']}, your balance is ${user['account_balance']:.2f}")

users = [
    {"name": "Amina", "email": "amina@example.com", "account_balance": 120.5},
    {"name": "Jacob", "email": "jacob@example.com", "account_balance": 4.77}
]

generate_emails(users)

To: amina@example.com | Hello Amina, your balance is $120.50
To: jacob@example.com | Hello Jacob, your balance is $4.77