# 1: Basic Input Formatting

## 1. Accept a userâ€™s full name and print it in title case.
* Input: 'john doe'
* Expected output: 'John Doe'

In [ ]:
fullname = input(print("Enter your name:"))
print(fullname.title())

## 2. Read a user's date of birth in dd-mm-yyyy format and extract the year.
* Input: '14-07-1996'
* Output: 'Year of birth: 1996'

In [4]:
dob = input(print("Enter Date of Birth (dd-mm-yyyy): "))
day, month, year = dob.split('-')
print(f"Year of birth: {year}")

Enter Date of Birth (dd-mm-yyyy):
Year of birth: 2004

## 3. Accept three space-separated integers and print their sum.
* Input: '10 20 30'
* Output: 'Sum = 60'

In [ ]:
a, b, c = map(int, input("Enter three numbers: ").split())
print(f"Sum = {a+b+c}")

Sum = 39
12

## 4. Read a string and print its length, right-aligned to 10 spaces.
* Input: 'hello'
* Output: '     Length: 5'

In [18]:
s = input("Enter a string: ")
print(f"{'Length:' :>10} {len(s)}")

   Length: 1

# Output Formatting Use Cases

## 5. Format a float to 2 decimal places when displaying price.
* Input: 4.5678
* Output: 'Price: $4.57'

In [21]:
price = float(input("Enter price: "))
print(f"Price: ${price:.2f}")

Price: $12.21

## 6. Create a formatted table for 3 products with price.
#### Input: 
-  'Apple 2.5'
-   'Milk 1.3'
-   'Bread 1.8'
- Output: A neatly aligned price list.

In [ ]:
print(f"{'Product':<10} {'Price':>6}")
for _ in range(1):
    name, price = input("Enter product and price: ").split()
    print(f"{name:<10} ${float(price):>5.2f}")

## 7. Pad an invoice number to 8 digits with leading zeroes.
* Input: 347
* Output: 'Invoice ID: 00000347'

In [36]:
invoice = input("Enter invoice number: ")
print(f"Invoice ID: {int(invoice):28d}")

Invoice ID:                          123

## 8. Format percentages with alignment in a report.
#### Input: 
*   'Math 89.567'
*   'Physics 78.6'
* Output:
``` 
Math      89.57%
Physics   78.60%
```

In [28]:
for _ in range(2):
    subject, score = input("Enter subject and percentage: ").split()
    print(f"{subject:<10} {float(score):>6.2f}%")

Math        90.90%
Kiswahili   99.99%

## Complex Structured Input/Output

### 9. Read a comma-separated list of key=value pairs and convert to a dictionary.
- Input: 'name=John,age=30,city=Nairobi'
- Output: {'name': 'John', 'age': '30', 'city': 'Nairobi'}

In [37]:
pairs = input("Enter key=value pairs: ").split(',')
result = {k: v for k, v in (pair.split('=') for pair in pairs)}
print(result)

{'name': 'john', ' age': '30'}

### 10. Print currency values in tabular format with comma as thousand separator.
Input:
-   'Salary 10500'
-   'Bonus 2500'

Output:
-   Salary   10,500.00
-   Bonus     2,500.00

In [47]:
for _ in range(2):
    label, amount = input("Enter label and amount: ").split()
    print(f"{label:<10} {float(amount):>10,.2f}")

salary      10,000.00
bonus        2,500.00

### 11. 11. Parse structured log line and extract components.
Input: '[2025-07-24 14:33] ERROR: Disk full'

Output:
-   Timestamp: 2025-07-24 14:33
-   Level: ERROR
-   Message: Disk full

In [ ]:
log = input("Enter log: ")
timestamp = log[1:17]
level = log.split('] ')[1].split(':')[0]
message = log.split(': ', 1)[1]
print(f"Timestamp: {timestamp}")
print(f"Level: {level}")
print(f"Message: {message}")
# Input: '[2025-07-24 14:33] ERROR: Disk full'

Timestamp: [2025-07-24 14:3
Level: ERROR
Message: Disk full'

### 12. Align a report of student marks with both name and grade columns aligned.
Input:
-  'Alice 85.2'
-   'Bob 90.67'

Output:
-   Name      | Grade
-   --------- | ------
-   Alice     |  85.20
-   Bob       |  90.67

In [51]:
print(f"{'Name':<10} | {'Grade':>6}")
print(f"{'-'*10} | {'-'*6}")
for _ in range(2):
    name, grade = input("Enter name and grade: ").split()
    print(f"{name:<10} | {float(grade):>6.2f}")

Name       |  Grade
---------- | ------
Alice      |  85.20
Bob        |  90.67

### 13. 13. Budget Tracker Summary
Goal: Write a program that:

Accepts 5 expense entries in the form: "category amount", e.g., "rent 25000"

Stores them in a dictionary.

Prints a summary with right-aligned amounts, formatted with commas and two decimal places.

Finally, prints total expense.

In [53]:
expenses = {}
for _ in range(5):
    category, amount = input("Enter category and amount: ").split()
    expenses[category] = float(amount)

print(f"{'Category':<13} {'Amount':>10}")
print("-" * 25)
for cat, amt in expenses.items():
    print(f"{cat:<13} {amt:>10,.2f}")
print("-" * 25)
print(f"{'TOTAL':<13} {sum(expenses.values()):>10,.2f}")

Category          Amount
-------------------------
rent           10,000.00
groceries      10,000.00
utilities       3,100.00
transport       5,000.00
entertainment   1,000.00
-------------------------
TOTAL          29,100.00