# ðŸ§ª 1. List Exercises

## Q1. Clean and Sort Names
You're given this list of messy names:

```python

names = [" Alice ", "bob", "Charlie ", "  dave"]
```
Write code to:

Remove extra spaces

Make all names lowercase

Sort them alphabetically

### Step-by-step:
 1. Strip whitespace with `.strip()`
 2. Convert to lowercase with `.lower()`
 3. Use list comprehension to apply it to all
 4. Sort the result using `sorted()`

In [1]:
names = [" Alice ", "bob", "Charlie ", "  dave"]
print(names, type(names))
clean = ([name.strip().lower() for name in names])
sorted_names = sorted(clean)
print(sorted_names)

[' Alice ', 'bob', 'Charlie ', '  dave'] <class 'list'>
['alice', 'bob', 'charlie', 'dave']

## Q2. Extract Alternate Elements
Given:
```python
scores = [80, 75, 90, 65, 100, 55]
```
Return a new list with only the scores at even indexes (0, 2, 4...).

In [2]:
scores = [80, 75, 90, 65, 100, 55]
# Slice with a step of 2 to get elements at even indexes
even_index_scores = scores[::2]

print(even_index_scores)

[80, 90, 100]

## Q3. Flatten a Nested List
```python
matrix = [[1, 2], [3, 4], [5, 6]]
```
Convert it to a single flat list like [1, 2, 3, 4, 5, 6].

In [3]:
matrix = [[1, 2], [3, 4], [5, 6]]

# Use nested list comprehension
flattened = [item for sublist in matrix for item in sublist]

print(flattened)

[1, 2, 3, 4, 5, 6]

# ðŸ§ª 2. Dictionary Exercises
## Q4. Frequency Counter
Given:
```python
words = ["cat", "dog", "cat", "mouse", "dog", "dog"]
```
Create a dictionary counting how many times each word appears.

In [ ]:
words = ["cat", "dog", "cat", "mouse", "dog", "dog"]
count_items = {}
for item in words:
    count_items[item] = count_items.get(item, 0) + 1
    
print(count_items)

{'cat': 2, 'dog': 3, 'mouse': 1}

## Q5. Invert a Dictionary
Given:

```python
student_grades = {
    "Alice": "A",
    "Bob": "B",
    "Charlie": "A",
    "David": "C"
}
```
Create a new dictionary where keys are grades and values are lists of names with that grade.

In [63]:
student_grades = {
    "Alice": "A",
    "Bob": "B",
    "Charlie": "A",
    "David": "C"
}

students = [student for student in student_grades]
print(students)

grades = [ y for x, y in student_grades.items()]
print(grades)
# my_dict = {key: value for key, value in zip(keys, values)}

grades_student = {key: value for key, value in zip(grades, students)}
print(grades_student)

['Alice', 'Bob', 'Charlie', 'David']
['A', 'B', 'A', 'C']
{'A': 'Charlie', 'B': 'Bob', 'C': 'David'}

In [66]:
student_grades = {
    "Alice": "A",
    "Bob": "B",
    "Charlie": "A",
    "David": "C"
}

grades_student = {
    grade: [student for student, g in student_grades.items() if g == grade]
    for grade in set(student_grades.values())  # Iterate through unique grades
}

print(grades_student)
# Output: {'A': ['Alice', 'Charlie'], 'B': ['Bob'], 'C': ['David']}

{'C': ['David'], 'B': ['Bob'], 'A': ['Alice', 'Charlie']}

In [33]:
student_grades = {
    "Alice": "A",
    "Bob": "B",
    "Charlie": "A",
    "David": "C"
}

inverted = {}
for student, grade in student_grades.items():
    if grade not in inverted:
        inverted[grade] = []
    inverted[grade].append(student)

print(inverted)
# Output: {'A': ['Alice', 'Charlie'], 'B': ['Bob'], 'C': ['David']}

{'A': ['Alice', 'Charlie'], 'B': ['Bob'], 'C': ['David']}

## Q6. Update with Condition
Given:
```python
products = {
    "apple": 50,
    "banana": 30,
    "orange": 60
}
```
Increase the price of every product by 10 only if the current price is below 50.

In [61]:
products = {
    "apple": 50,
    "banana": 30,
    "orange": 60
}
product = [y for y in products ]
print(product)
price = [y for x,y in products.items()]
print(price)

updated = []
for x in price:
    if x < 50:
        x += 10
    updated.append((x))
    
print(updated)
# my_dict = {key: value for key, value in zip(keys, values)}
updated_products = {key: value for key , value in zip(product, updated)}
print(updated_products)

['apple', 'banana', 'orange']
[50, 30, 60]
[50, 40, 60]
{'apple': 50, 'banana': 40, 'orange': 60}

In [62]:
products = {
    "apple": 50,
    "banana": 30,
    "orange": 60
}

for product in products:
    if products[product] < 50:
        products[product] += 10

print(products)
# Output: {'apple': 50, 'banana': 40, 'orange': 60}

# ðŸ§  You canâ€™t modify a dict while iterating over products.items() if values are changing, so itâ€™s safer to loop by key.

{'apple': 50, 'banana': 40, 'orange': 60}

# ðŸ§ª 3. Comprehension Challenges

## Q7. List Comprehension with Filter
Given a list of temperatures in Celsius:

```python
temps = [36.5, 37.2, 38.0, 36.9, 39.1]
```
Use a list comprehension to create a new list with only the temperatures above 37Â°C.

In [1]:
temps = [36.5, 37.2, 38.0, 36.9, 39.1]

above = [x for x in temps if x > 37]
print(above)

[37.2, 38.0, 39.1]

## Q8. Dict Comprehension with Transformation
Youâ€™re given this list:

```python
names = ["alvin", "brenda", "carol"]
```
Use a dictionary comprehension to create:

```python
{"alvin": 5, "brenda": 6, "carol": 5}
```
Where the value is the length of each name.

In [13]:
names = ["alvin", "brenda", "carol"]
length = []
for name in names:
    print(len(name)) 
    length.append(len(name))      
len(names[0])
print(length)
# my_dict = {key: value for key, value in zip(keys, values)}
name_length = {key: value for key, value in zip(names, length)}
print(name_length)

5
6
5
[5, 6, 5]
{'alvin': 5, 'brenda': 6, 'carol': 5}

In [14]:
names = ["alvin", "brenda", "carol"]

name_lengths = {name: len(name) for name in names}

print(name_lengths)
# Output: {'alvin': 5, 'brenda': 6, 'carol': 5}

# {key_expr: value_expr for item in iterable}

{'alvin': 5, 'brenda': 6, 'carol': 5}

## Q9. Set Comprehension
From a list of tweets:

```python

tweets = ["#ai", "#data", "#ai", "#python", "#data", "#ml"]
```
Get a set of unique hashtags using comprehension.

In [17]:
tweets = ["#ai", "#data", "#ai", "#python", "#data", "#ml"]
unique_hashtags = set(tweets)
print(unique_hashtags, type(unique_hashtags))

{'#ml', '#data', '#python', '#ai'} <class 'set'>

In [18]:
tweets = ["#ai", "#data", "#ai", "#python", "#data", "#ml"]

unique_hashtags = {tag for tag in tweets}

print(unique_hashtags, type(unique_hashtags))
# Output: {'#ai', '#ml', '#data', '#python'}

{'#ml', '#data', '#python', '#ai'} <class 'set'>

## Q10. Nested List Comprehension
You have:

```python
matrix = [[1, 2, 3], [4, 5, 6]]
```
Use a single comprehension to get a list of all the values squared.

In [24]:
matrix = [[1, 2, 3], [4, 5, 6]]
print(matrix)
# flattened = [item for sublist in matrix for item in sublist]
flatten_matrix = [item for sublist in matrix for item in sublist]
print(flatten_matrix)
matrix_square = [x**2 for x in flatten_matrix]
print(matrix_square)

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]

In [26]:
matrix = [[1, 2, 3], [4, 5, 6]]

squares = [x**2 for row in matrix for x in row]

print(squares)
# Output: [1, 4, 9, 16, 25, 36]
# ðŸ§  Order matters: inner loop (for x in row) is nested inside the outer loop.

[1, 4, 9, 16, 25, 36]

In [28]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
print(matrix)
square = [x**2 for row in matrix for x in row]
print(square)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

#  ðŸ§ 4. Final Mixed Real-World Exercises

Q11. JSON-like Filtering
You have this data:

```python
people = [
    {"name": "Alvin", "age": 21},
    {"name": "Brenda", "age": 17},
    {"name": "Chris", "age": 19}
]
```
Create a list of names for people 18 and above using a list comprehension.

In [43]:
people = [
    {"name": "Alvin", "age": 21},
    {"name": "Brenda", "age": 17},
    {"name": "Chris", "age": 19}
]

adults = [person["name"] for person in people if person["age"] >= 18]
print(adults)

['Alvin', 'Chris']

## Q12. Build a Lookup Table
You have:

```python
items = ["pen", "notebook", "eraser"]
prices = [10, 50, 5]
```
Create a dictionary where keys are items and values are prices â€” but only include items priced above 10.

In [50]:
items = ["pen", "notebook", "eraser"]
prices = [10, 50, 5]
# my_dict = {key: value for key, value in zip(keys, values)}
lookup = {key: value for key, value in zip(items, prices) if value > 10}
# lookup = {item: price for item, price in zip(items, prices) if price > 10}
print(lookup)

{'notebook': 50}

## Q13. Find Duplicates Using Comprehensions Only
Given:

```python
data = [1, 2, 2, 3, 4, 4, 5]
```
Create a set containing all values that appear more than once using set comprehension and one-liners only.

In [ ]:
data = [1, 2, 2, 3, 4, 4, 5]
duplicate = {x for x in data if data.count(x)>1}
print(duplicate)

{2, 4}

1

In [ ]:
data = [1, 2, 2, 3, 4, 4, 5]
seen = set()
duplicates = {x for x in data if x in seen or seen.add(x)}
print(duplicates)
# Output: {2, 4}

# set.add() returns None, so the or forces evaluation.

# First time x is seen â†’ seen.add(x) runs â†’ returns None â†’ False.

# Second time â†’ x in seen is True.

{2, 4}